<div id="category-data" data-category="{{categoryData}}"></div>
<div id="quantity-data" data-quantity="{{quantityData}}"></div>

<div id="chart">
  <canvas id="myChart"></canvas>
</div>

<script src="/js/chart.js"></script>