 <section aria-label="Hero Images">
    <div class = "carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button = "prev">&#8249;</button>
    <button class="carousel-button next" data-carousel-button = "next">&#8250;</button>
    <ul data-slides>
      
      <li class = "slide" data-active>
        <div class="d-flex min-vh-100" lc-helper="background" style="background:url(https://towerliquorphx.com/wp-content/uploads/banner.jpg)  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
 
            <div class="align-self-center text-center text-light col-md-8 offset-md-2">
              <div class="lc-block mb-4">
                <div editable="rich">
                  <h1 class="display-1 fw-bolder">View Inventory </h1>
                </div>
              </div>
          
              <div class="lc-block">
                <div editable="rich">
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
          
                  <p class="lead">Sim in vestibulum metus pulvinar sit amet.
          
                  </p>
                 </div>
              </div>
             </div>
          </div>
      </li>

      <li class = "slide">
        <div class="d-flex min-vh-100" lc-helper="background" style="background:url(https://m.media-amazon.com/images/S/aplus-media/sc/3320f026-307d-4673-a226-8cf1ad41e71e.__CR0,0,970,600_PT0_SX970_V1___.jpg)  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
 
            <div class="align-self-center text-center text-light col-md-8 offset-md-2">
              <div class="lc-block mb-4">
                <div editable="rich">
                  <h1 class="display-1 fw-bolder">Add Items</h1>
                </div>
              </div>
          
              <div class="lc-block">
                <div editable="rich">
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
          
                  <p class="lead">Sim in vestibulum metus pulvinar sit amet.
          
                  </p>
                 </div>
              </div>
             </div>
          </div>
        
      </li>

      <li class = "slide">
        <div class="d-flex min-vh-100" lc-helper="background" style="background:url(https://blog.bar-i.com/hubfs/counting-inventory-behind-bar.jpg)  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
 
            <div class="align-self-center text-center text-light col-md-8 offset-md-2">
              <div class="lc-block mb-4">
                <div editable="rich">
                  <h1 class="display-1 fw-bolder">Item Management</h1>
                </div>
              </div>
          
              <div class="lc-block">
                <div editable="rich">
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
          
                  <p class="lead">Sim in vestibulum metus pulvinar sit amet.
          
                  </p>
                 </div>
              </div>
             </div>
          </div>alt = "image number 3">
      </li>
    </ul>
  </div>
  </section>
  <script src="/js/pagination.js"></script>