<!--Body-->
  <div class="main-btns">
    <div class="container text center mt-20">
      <div class="row">

        <button type="button" id = "view-inventory" class=" button btn btn-light btn-lg mb-4 p-6"><a href="/api/inventory">View Inventory</a></button>

        <button type="button" id = "item-management" class="button btn btn-light btn-lg mb-4 p-6"><a href="/api/itemManagement">Item Management</a></button>

        <button type="button" id = 'count' class=" button btn btn-light btn-lg mb-4 p-6"><a href="/api/count">Count</a></button>
        
      </div>
    </div>
  </div>
