

  <div class="container-fluid">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" >
              <img class = "hero-images" src="../assets/itemmanagement.jpg" />
              <div class = "centered1 text-center">
               <h1 class="display-1 fw-bolder">View Inventory </h1>
              <p class="lead">Viewing your inventory couldn't be any easier!</p>
              <p class="lead">Color-coded forms let you know when you are running low on inventory, or are depleated.</p>
             <p class="lead"> Easily export to CSV to share with coworkers</p>
              </div>
            </div>
            <div class="swiper-slide">
               <img class = "hero-images" src="../assets/bottles.jpg" />
               <div class = "centered1 text-center">
               <h1 class="display-1 fw-bolder"> Take Count </h1>
              <p class="lead">Easily take stock of what you have on hand or, receive shipments to add to inventory.</p>
              <p class="lead">When you are running low on stock, an email alert will be sent to your administrator.</p>
            </div>
            </div>
            <div class="swiper-slide">
               <img class = "hero-images" src="../assets/counting-inventory-behind-bar.jpg"/>
               <div class = "centered1 text-center">
               <h1 class="display-1 fw-bolder">Item Management </h1>
              <p class="lead">Need to add a new spirit to your inventory? No problem!</p>
              <p class="lead">Your administrator can add new products to the inventory and easily set par levels.</p>
            </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },

        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>