 

<!-- Sign in form -->
<div class="tab-content login-form">
    <form class=" login-form">
      <div class="text-center mb-3">
        <p>Sign in with:</p></div>

      <!-- User input -->
        <div class="text-center form-outline mb-4">
        <label class="form-label" for="loginName">Username</label>
        <input type="text" id = "username-login" class="width-150"/>
      </div>

      <!-- Password input -->
      <div class="text-center form-outline mb-4">
        <label class="form-label">Password</label>
        <input type="password" id="password-login" class="width-150"/>
      </div>

      
      <!-- Submit button -->
      <div class="text-center">
      <button type="submit" class="btn btn-light btn-block mb-4">Sign in</button>
      <br>
      <button type="submit" class="btn btn-light btn-block mb-4">View inventory as guest</button>
      </div>


        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p></div>

<script src="./js/login.js"></script>