 
<div class="login-background-image">
<!-- Sign in form -->
<div class="tab-content login-form">
    <form class=" input-form">
      <div class="text-center mb-3">
        <p class="input-title">Sign in with</p></div>

      <!-- User input -->
        <div class="form-outline mb-4 input-group">
        <label class="form-label" for="loginName">Username</label>
        <input type="text" id = "username-login" class="width-150"/>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4 input-group">
        <label class="form-label">Password</label>
        <input type="password" id="password-login" class="width-150"/>
      </div>

      
      <!-- Submit button -->
      <div class="text-center">
      <button type="submit" class="btn btn-light btn-block mb-4 input-button">Sign in</button>
  
      </div>


        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/register">Register</a></p></div>
</div>
<script src="./js/login.js"></script>