 <div class="register-background-image">
      <div class="tab-content signup-form">
        <form class="input-form">
          <div class="text-center mb-3">
            <p class="input-title">Register</p>
          </div>

          <!-- User input -->
          <div class="form-outline mb-4 input-group">
            <label class="form-label" for="loginName">Choose a username</label>
            <input type="text" id="username-signup" class="width-150" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4 input-group">
            <label class="form-label">Choose a password</label>
            <input type="password" id="password-signup" class="width-150" />
          </div>

          <div class="form-outline mb-4 input-group">
            <label class="form-label">Confirm password</label>
            <input type="password" id="validate-signup" class="width-150" />
          </div>

          <label class="form-label">Add as Admin?</label>
          <input id="chk" type="checkbox" />
          <div class = "formContainer" hidden>
          <div class= "form-outline mb-4 input-group" >
            <label class="form-label">Enter Email</label>
            <input type="email" id="email-signup" class="width-150" />
          </div>
        </div>

          ​

          <!-- Submit button -->
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-light btn-block mb-4 input-button"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <script src="/js/signup.js"></script>
    </div>

    <script>
    
      document.getElementById("chk").addEventListener ("change", function (event) { 
          document.querySelector(".formContainer").hidden = !event.target.checked;
          console.log(!event.target.checked)
      });


        const adminOn = document.querySelector('#chk').value.trim();
                console.log(adminOn)
      </script>