:root {
  --mainfont: white;
  --accent: #c9a580;
  --navlink: #7c5c3d;
}
/* background color */
body {
  background-image: linear-gradient(
    to bottom,
    #634628,
    #7c5c3d,
    #957452,
    #af8c69,
    #c9a580
  );
  margin: 0;
  padding-bottom: 50px;
}
/* hero image h1 */
h1{
  color: #ffd15b;
  -webkit-text-stroke: 1px #000000;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* glow effect */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #957452, 0 0 40px #957452, 0 0 50px #957452, 0 0 60px #957452, 0 0 70px #957452;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #957452, 0 0 40px #957452, 0 0 50px #957452, 0 0 60px #957452, 0 0 70px #957452, 0 0 80px #957452;
  }}
/* nav bar attributes------------------------------------------------------------------------------------------------------------------------------------------------------ */
.navbar-toggler{
  background-color: #be997a;
  border: 1px solid #634628;
}
.navbar-toggler:hover{
  background-color: #7c5c3d;
  border: 1px solid #ffd15b;
}
.nav-item a:hover {
  color: white;
  font-weight: bold;
}
.nav-item a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  background-color: #ffd15b;
  position: absolute;
  top: 0;
  width: 0;
}

#nav-item1 a:hover::before {
  width: 3.7%;
  transition: all ease-in-out 300ms;
}
#nav-item2 a:hover::before {
  width: 6%;
  transition: all ease-in-out 300ms;
}
#nav-item3 a:hover::before {
  width: 7%;
  transition: all ease-in-out 300ms;
}
#nav-item4 a:hover::before {
  width: 2.75%;
  transition: all ease-in-out 300ms;
}
#nav-item5 a:hover::before {
  width: 2.7%;
  transition: all ease-in-out 300ms;
}
#nav-item6 a:hover::before {
  width: 3.5%;
  transition: all ease-in-out 300ms;
}
#nav-item7 a:hover::before {
  width:6.8%;
  transition: all ease-in-out 300ms;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* navbar items------------------------------------------------------------------------------------------------------------------------------------------ */
.main-btns {
  padding-top: 20px;
}
.main-btns a {
  text-decoration: none;
  color: #634628;
}
.form {
  margin-right: 50px;
  margin-left: 50px;
}
.form-inline {
  margin-right: 50px;
  margin-left: 50px;
}
/* to set the color of the count sheet depending on inventory */
.above {
  background-color: rgb(18, 224, 18);
  color: white;
}

.on {
  background-color: orange;
  color: white;
}

.below {
  background-color: red;
  color: white;
}
.text-center,
a:hover {
  color: white;
}
a:hover {
  color: #ffd15b;
  font-weight: bold;
}
a {
  color: white;
}
/* inventory buttons */
.btn-outline-danger {
  background-color: rgb(236, 148, 163);
  border: 2px solid red;
  font-weight: bold;
}
.btn-outline-danger:hover{
  background-color: red;
  border: 2px solid rgb(236, 148, 163);

}
.btn-light {
  color:white;
  background-color: #be997a;
  border: 2px solid #634628;
  font-weight: bold;
}
.btn-light:hover {
  color:white;
  background-color: #7c5c3d;
  border: 2px solid #ffd15b;

}
/* buisness analysis */
table {
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
  border-collapse: collapse;
}
td,
th {
  padding: 0.4em;
  text-align: center;
}
tr{
  color:#c9a580;
}
#chart {
  display: block;
  width: 600px;
  background-color: whitesmoke;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* background images for different pages */
.login-background-image {
  background-image: url("/assets/login.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-background-image {
  background-image: url("/assets/register.png");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-management-background-image {
  background-image: url("/assets/bartenders.png");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  filter: brightness(75%);
}

/* input forms */
.input-form {
  background-color: hsla(48, 9%, 10%, 0.6);
  color: #ffd15b;
  padding: 30px;
  min-width: 400px;
}

.input-title {
  color: #ffd15b;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.input-group {
  color: #ffd15b;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: #ffd15b;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.input-group input {
  font-size: 1.5em;
  padding: 0.1em, 0.25em;
  background-color: hsla(50, 4%, 27%, 0.3);
  border: 1px solid hsl(60, 1%, 30%);
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid white;
}

.input-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background-color: hsla(50, 4%, 27%, 0.3);
  border: 1px solid white;
  outline: none;
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
::placeholder {
  color: #ffffff;
}
/* hamburger menu */
.navbar-nav{
  float: right!important;
  
}
.navbar-collapse{
  z-index: 9;
  background-color: #634628;
  width: 100px;
}
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* swiper CDN  hero images */
.container {
  width:100%;
  height:auto;
  display: flex;
    /* align-items: center; */
    justify-content: center;
}
.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  opacity: .8;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{

  color: #fff;
}
.swiper .swiper-pagination-bullet-active {
  background: #fff;
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* font-size: 75px; */
  
}
.swiper > img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  opacity: .8;
}

.card {
  max-width: 1000px;
}

.hero-images {
  filter: brightness(50%);
}
/* custom styling for hamburger animation */
.navbar-toggler {
  width: 20px;
  height:20px;
  position: relative;
  transition: .5s ease-in-out;
  background-color: #634628;
  border: none;
  margin-right: 10px;

}

.navbar-toggler,
.navnar-toggler:focus, 
.navbar-toggler:active, 
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background:#ffd15b;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;

}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);

}

.navbar-toggler .middle-bar {
 opacity: 0;
 filter: alpha (opacity=0);
  
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
  
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);

}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
  margin-top: 20px;
  transform: rotate(0deg);
}


/* media queries */
@media screen and (width >= 768px) {
  .swiper-slide img {
    aspect-ratio: 4/3;
    }
}

@media screen and (width >= 992px) {
  .swiper-slide img {
    aspect-ratio: 2/1;
    }
}