body {
  color: white;
  background-image: linear-gradient(
    to bottom,
    #634628,
    #7c5c3d,
    #957452,
    #af8c69,
    #c9a580
  );
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btns {
  padding-top: 20px;
}
.main-btns a {
  text-decoration: none;
  color:#634628;
}
.form{
  margin-right: 50px;
  margin-left:50px;
}
.form-inline{
  margin-right: 50px;
  margin-left:50px;
}